/*  
Theme Name: Zion Narrows
Theme URI: http://www.freewpthemes.net/preview/zionnarrows
Description: Widget ready and tested on WP 2.3.1.
Version: 2.0
Author: Free WordPress Themes
Author URI: http://www.freewpthemes.net/
*/

body {
	margin: 0;
	padding: 0;
	background: #000 url(images/bg.jpg) left top repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCC;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #c9ab3d;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a:link {
	text-decoration: underline;
	color: #CCC;
}

a:hover {color: #CCC; text-decoration:none; background:#594823;
}

a:visited{color: #CCC; text-decoration:none;}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 960px;
	height: auto;
	margin: 0 auto;

}


/* Top Area */

#top {height:115px; background:url(images/bg-top.jpg) no-repeat;}
	#logo1 {float: left; margin: 2.5em 0 0 2em;}
	#logo2 {float:right; margin: 2.5em 2em 0 0;}
	#logo-realtor{float: left; width:457px; margin:1.25em 0 0 6em;}

/* Logo */

#logo {
	float: left;
	height: 65px;
	margin: 0;
	padding-top: 20px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 4.6em;
	color: #FFFFFF;
}

#logo p {
	float: left;
	margin: 0;
	padding: 30px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	width: 300px;
	height: 70px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 50px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 20px 0px 0px 0px;
	border: none;
}

#search-text {
	width: 150px;
	margin: 20px 0px 0px 20px;
	padding: 4px 5px 3px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #703522;
}

#search-submit {
	width: 50px;
	height: 25px;
}



/* Search */

#search {
	width: 300px;
	height: 70px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 50px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 20px 0px 0px 0px;
	border: none;
}

#search-text {
	width: 150px;
	margin: 20px 0px 0px 20px;
	padding: 4px 5px 3px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #703522;
}

#search-submit {
	width: 50px;
	height: 25px;
}


    .widget_post {
    	background: none;
    	margin: 0px;
    	padding: 0;
    	height 50px;
    	}



/* Menu */

#menu {
	width: 960px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

/* #menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

 #menu a {
	display: block;
	height: 35px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: underline;
} */

#header-small{height: 142px; background: none; padding: 0; margin: 0;}
#header-big{height: 274px; background: url(images/header.jpg) no-repeat; padding: 0; margin: 0;}
	#featured-property{float:right; width: 153px; margin: 1em 1em 0 0;}
	#open-house1{float:right; width: 153px; margin: 1em 1em 0 0;}
	#open-house2{float:right; width: 153px; margin: 1em 1em 0 0;}
	#property-thumb {width: 153px; height: 129px; background:url(images/bg-property.png) no-repeat;}
	#property-thumb img {margin: 3px auto;}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;

}

#page-bgtop {
}

#page-bgbtm {
}

/* Content */

#content {
	float: right;
	width: 705px;
	padding: 0;
        height: auto;
}

.post {
	margin-bottom: 25px;
	padding: 0px;
	background: #000;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	padding: 12px 0 0 20px;
	letter-spacing: -.5px;
	color: #CCC;
	background: #1E1E1E;
        font-style: italic;
}

.post .title a {
	border: none;
	color: #CCC;
}

.post .meta {
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	padding: 0px 20px 20px 20px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:  bold;
}

/* Content Iframe */

#content-iframe{margin: 0; padding: 0; background: none; overflow:hidden;}


/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
        padding:0;
	color: #787878;
        background: #000;
}

#sidebar ul {
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
	background: #000;

}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	padding-left: 3px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 20px;
	background: #1E1E1E;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

/* #sidebar p {
	margin: 0px 0px 20px 0px;
	padding: 10px 20px 20px 20px;
	text-align: justify;
} */

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#leftWrapper {background: #0d0d0d; padding:9px; margin: 1em auto; width:84%;}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 960px;
	height: 64px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 26px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #898989;
}

#footer a {
	font-weight: bold;
	color: #898989;
}

.pagetitle {
	padding-left: 20px;
	background: none;
	color: #FFFFFF;
}

.search_title {
	padding-left: 20px;
	color: #FFFFFF;
}

/* Search */

#header-search {
	float: right;
	width: 300px;
	height: 70px;
	padding: 0;
}

#header-search form {
	height: 41px;
	margin: 0;
	padding: 30px 0 0 20px;
}

#header-search fieldset {
	margin: 0;
	padding: 20px 0px 0px 0px;
	border: none;
}

#header-search-text {
	width: 150px;
	margin: 20px 0px 0px 20px;
	padding: 4px 5px 3px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #703522;
}

#search-submit {
	width: 50px;
	height: 25px;
}

/* Contact Page */

#contactWrapper {margin:1em auto; width: 100%;}
#contactText {float:left; width:71%;}
#contactInfo {float:right; width:23%; padding:5px; border: #191919 solid 5px; text-align:left; font-size:11px;}
#formWrapper {margin:1em auto; width: 100%;}
#formLeft {float:left; width:50%;}
#formRight {float:right; width:174px; height:360px; margin-right:3em; background:url(images/bg-phone.jpg) no-repeat; text-align:left; font-size:11px;}
#smsWrapper{margin:.65em auto; padding:0 15px 15px 15px; line-height:110%;}

/* Form Layout */
fieldset {clear: both;}
legend {padding: 0 0 1.286em; font-size: 1.167em; font-weight: 700;}
fieldset fieldset legend {padding: 0 0 1.5em; font-size: 1em;}
* html legend {margin-left: -7px;} /* ie6 */
*+html legend {margin-left: -7px;} /* ie7 */

form .field, form .buttons {clear: both; margin: 0 0 1.5em;}
form .field label {display: block;}
form ul.fields {margin: 0 0 1.5em; padding: 0;}
form ul.fields li {list-style-type: none; margin: 0;}

form ul.inline li, form ul.inline label {display: inline;}
form ul.inline li {padding: 0 .75em 0 0;}

input.radio, input.checkbox {vertical-align: top;}
label, button, input.submit, input.image {cursor: pointer;}
* html input.radio, * html input.checkbox {vertical-align: middle;} /* ie6 */
*+html input.radio, *+html input.checkbox {vertical-align: middle;} /* ie7 */

textarea {overflow: auto;}
input.text, input.password, textarea, select {margin: 0; font: 12px Arial, Helvetica, sans-serif; vertical-align: baseline;}
input.text, input.password, textarea {border: 1px solid #444; padding: 2px;}

/* horizontal layout */
form.horizontal .field {padding-left: 150px;}
form.horizontal .field label {display: inline; float: left; width: 140px; margin-left: -150px;}

.formFormat {background: #333; border: #191919 solid 2px; font-size:11px; color:#CCC;}/*featured property*/.featured_property{background-image: url(http://www.norbertklaiberhomes.com/wp-content/uploads/2011/04/featured-ribbon.png);}.open_house{background-image: url(http://www.norbertklaiberhomes.com/wp-content/uploads/2011/04/open-house-ribbon.png);}