.wpp_agent_info_list {


}


.wpp_agent_info_list dl {
 }
 
.wpp_agent_info_list dt {
	float: left;
	display: table-cell;
	padding-right: 5px; 
 	
	}
 
.wpp_agent_info_list  dd {
	display: table-cell;
	}
	
	
	
/* Version 1.04 Begin */
#infowindow table.wpp_google_maps_infobox_table td.wpp_google_maps_left_col { padding: 10px; }
#infowindow table.wpp_google_maps_infobox_table td.wpp_google_maps_right_col { }
/* Version 1.04 End */


/* Version 1.0 Begin */

.property_widget_block li span.value {
 	display: block;
}
 
.property_widget_block li span.attribute {
 	display: block;
	color: #CCC; 
	float: left;
	margin-right: 5px; }
 
.property_widget_block ul{
	margin:0;
	padding:0;
}
 
.wpp_slideshow_global_wrapper .nivo-caption span {
	display: block;
	font-size: 0.5em;
}

#infowindow table.wpp_google_maps_infobox_table {
 	margin:0;
	padding:0;
	border:0;
	font-size: 13px;
}

#infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_attribute_row_directions_link {
	font-size: 0.9em;
  	  border-top: 1px solid #666666;
  	  font-size: 0.9em;
 	   margin-top: 5px;
  	  padding-top: 4px;	
} 

#infowindow table.wpp_google_maps_infobox_table img {
	position: static;
}

#infowindow table.wpp_google_maps_infobox_table td{
	vertical-align: top;
	padding-left: 3px;
	padding-right: 1px;
}

.wpp_google_maps_attribute_row_property_title {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
 

ul.wpp_google_maps_infobox {
	clear: both;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul.wpp_google_maps_infobox .wpp_google_maps_attribute_row {
	clear: both;
}

ul.wpp_google_maps_infobox .wpp_google_maps_attribute_row span.attribute{
	display:block;
	float:left;
	margin-right: 10px;
	width: 70px;
}

ul.wpp_google_maps_infobox .wpp_google_maps_attribute_row span.value{
	display:block;
	float:left;
	width: 90px;
	margin-right: 10px;
}

#property_map img { 
	position:absolute; 
	max-width: none;
	overflow-x:hidden;
	overflow-y:hidden; 
}



/* Version 1.0 End */


#content .wpp_shortcode_search  {
	background: #1e1e1e;
	padding: 10px;
}


#content .wpp_shortcode_search  ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
#content .wpp_shortcode_search  ul label{
	width: 150px;
	display: block;
	float: left;
}
#content .wpp_shortcode_search  ul li.submit{
	background: #E8E8E8;
	text-align: right;
	padding: 10px;
	margin-bottom: 0;
}
#content .wpp_shortcode_search  ul li.submit .wpp_search_button {
	margin:0;
}

#content .shortcode_featured_properties dl, #content .shortcode_featured_properties dd, #content .shortcode_featured_properties dt { margin: 0; }
 
#content .shortcode_featured_properties ul li dl {
	margin: 4px;
	padding: 4px;
	height: 1em; }
 
#content .shortcode_featured_properties ul li dt {
	float: left;
	font-size: 0.8em;
	font-weight: normal;
	padding-left: 5px;
	padding-top: 3px; }
 
#content .shortcode_featured_properties ul li dd {
	float: right;
	padding-right: 5px; }
 
#content .shortcode_featured_properties ul li dt, #content .big_featured_property ul li dd { display: block; }
 
#content .big_featured_property ul {
	display: table;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%; }
 
	#content .big_featured_property ul li {
		display: table-cell;
		width: 33%; }
 
		#content .big_featured_property ul li dl {
			font-size: 1.3em;
			background: none repeat scroll 0 0 #767676;
			color: #FFFFFF;
			margin: 4px;
			padding: 4px;
			height: 1em; location=all }
 
		#content .big_featured_property ul li dt {
			color: #CCC;
			float: left;
			font-size: 0.8em;
			font-weight: normal;
			padding-left: 5px;
			padding-top: 3px; }
 
		#content .big_featured_property ul li dd {
			float: right;
			padding-right: 5px; }
 
		#content .big_featured_property ul li dt, #content .big_featured_property ul li dd { display: block; }
 
.wpp_featured_properties_shortcode {
	list-style-type: none;
	margin: 0;
	pading: 0; }
 
	.wpp_featured_properties_shortcode li.wp-caption {
		display: inline;
		float: left; }
 
.shortcode_featured_properties ul {
	list-style-type: none;
	margin: 0;
	padding: 5px; }
 
	.shortcode_featured_properties ul li span {
		float: left;
		font-weight: bold;
		text-align: left;
		width: 90px; }
 
	.shortcode_featured_properties ul li p {
		float: left;
		margin-bottom: 5px;
		text-align: left;
		width: 60px; }
 
input.wpp_search_input_field_min, input.wpp_search_input_field_max { width: 40px; }
 
#container.floorplan_container { margin: 0 -270px 0 0; }
 
	#container.floorplan_container #content { margin: 0 300px 0 20px }
 
#container.building_container { margin: 0 -270px 0 0; }
 
	#container.building_container #content { margin: 0 300px 0 20px }
 
.
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden; }
 
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
 
* html .clearfix { height: 1%; }
 
#property_stats.overview_stats {
	border-top: 1px dashed #CFCBCB;
	clear: both;
	margin-bottom: 15px; }
 
	#property_stats.overview_stats dt, #property_stats.overview_stats dd {
		display: block;
		margin-bottom: 0;
		padding-bottom: 10px;
		padding-top: 10px; }
 
	#property_stats.overview_stats dt {
		clear: left;
		float: left;
		font-weight: bold;
		width: 150px; }
 
	#property_stats.overview_stats dd {
		border-bottom: 1px dashed #CFCBCB;
		padding-left: 26px; }
 
		#property_stats.overview_stats dd.alt { background: transparent }
 
		#property_stats.overview_stats dd span {  }
  
 
#primary .sidebar_property_thumbnail  img {
	border: 5px solid #808080;
	float: left;
	margin-top: 5px;
	margin: 0 9px 9px 0; }
 
#primary .property_widget_block {}
#primary .property_widget_block li p { margin: 0; }
 

#primary  .property_widget_block ul { clear: left; }
 
 
/*
	Properties Widgets
*/
.wpp_child_properties_widget .property_widget_block p.title,
.wpp_other_properties_widget .property_widget_block p.title,
.wpp_latest_properties_widget .property_widget_block p.title,
.wpp_featured_properties_widget .property_widget_block p.title {
	margin-bottom: 3px;
}

.wpp_child_properties_widget .property_widget_block,
.wpp_other_properties_widget .property_widget_block,
.wpp_latest_properties_widget .property_widget_block,
.wpp_featured_properties_widget .property_widget_block {
	clear: both;
	margin-bottom: 10px; }
 
.wpp_child_properties_widget img,
.wpp_other_properties_widget img,
.wpp_latest_properties_widget img,
.wpp_featured_properties_widget img { 
	margin-right: 5px; }
 
.wpp_search_properties_widget ul.wpp_search_elements,
.wpp_child_properties_widget .property_widget_block ul.wpp_widget_attribute_list,
.wpp_other_properties_widget .property_widget_block ul.wpp_widget_attribute_list,
.wpp_latest_properties_widget .property_widget_block ul.wpp_widget_attribute_list,
.wpp_featured_properties_widget .property_widget_block ul.wpp_widget_attribute_list {
	margin-left: 0px;
	margin-right: 0;
	padding-top: 0; }
 
.wpp_child_properties_widget .property_widget_block li,
.wpp_other_properties_widget .property_widget_block li,
.wpp_latest_properties_widget .property_widget_block li,
.wpp_featured_properties_widget .property_widget_block li {
	border-bottom: 1px dashed #CDCDCD;
	color: #CCC;
	display: block;
	padding: 2px 0;
	width: 100%; }
 
  	.wpp_search_properties_widget .wpp_search_elements {
		clear: both;
		list-style-type: none;
		margin: 0; }
 
		.wpp_search_properties_widget .wpp_search_elements li {
			margin-bottom: 10px;
			text-align: left; }
 
		.wpp_search_properties_widget .wpp_search_elements .search_input_block { float: left; }
 
			.wpp_search_properties_widget .wpp_search_elements .search_input_block input { width: 50px; }
 
		.wpp_search_properties_widget .wpp_search_elements li .wpp_search_button {  }
 
		.wpp_search_properties_widget .wpp_search_elements li label {
			float: left;
			width: 90px; }
 
.wpp_gallery_widget br { display: none !important; }
 
.wpp_gallery_widget {
	float: left;
	margin: 0;
	padding: 0; }
 
	.wpp_gallery_widget  img {
		border: 5px solid #DFDFDF;
		margin: 0 9px 9px 0; }
 
 
/*
	Property Results View
*/
.wpp_row_view { margin-top: 10px; }
 
	.wpp_row_view div.property_div {
		overflow: auto;
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		
		-khtml-box-shadow: 0px 1px 5px #8F8F8F;
		-moz-box-shadow: 0px 1px 5px #8F8F8F;
		-webkit-box-shadow: 0px 1px 5px #8F8F8F;
		
		background: none repeat scroll 0 0 #1e1e1e;
		margin-bottom: 10px;
		padding: 1%;
		position: relative;
		width: 99%; }
 
	.wpp_row_view .wpp_overview_right_column {
		display:table-cell;
		vertical-align: top;
		}
 
	.wpp_row_view .property_div .wpp_overview_left_column {
		vertical-align: top;
		display: table-cell;
		position: relative; }
 
	.wpp_row_view .child_properties {
		clear: both;
		display: block;
		margin-right: 10px;
		padding-top: 15px; }
 
		.wpp_row_view .child_properties * { vertical-align: middle; }
 
		.wpp_row_view .child_properties .property_child_title {
			padding: 5px 10px 5px 5px;
			text-align: left;
			width: 150px; }
 
			.wpp_row_view .child_properties .property_child_title a {
				color: #CCC;
				font-weight: normal; }
 
				.wpp_row_view .child_properties .property_child_title a:hover {
					color: orange;
					text-decoration: underline; }
 
	.wpp_row_view .property_image img { border: 6px solid #F5F5F5; }
 
	.wpp_row_view .property_image .property_overview_thumb {
		background: none repeat scroll 0 0 #808080;
		color: black;
		display: table-cell;
		text-align: center;
		text-decoration: none;
		vertical-align: middle; }
 
	.wpp_row_view ul.wpp_overview_data li { margin-bottom: 7px; }
 
	.wpp_row_view ul.wpp_overview_data {
		list-style-type: none;
		padding-left: 5px; }
 
		.wpp_row_view ul.wpp_overview_data  .property_title { font-size: 1.4em; }
 
	.wpp_row_view  .property_title a {
		color: #ffc85a;
		text-decoration: none; }
 
	.wpp_row_view ul.wpp_overview_data .property_price {
		color: #CCC;
		display: block;
		font-size: 18px;
		height: 25px;
		margin-top: 10px;
		padding-left: 35px;
		text-decoration: none; }
 
	.wpp_row_view  ul.wpp_overview_data .property_phone_number {
		background: url("images/phone_address.gif") no-repeat scroll left top transparent;
		color: #b0b0b0;
		font-size: 18px;
		padding-left: 34px; }
 
	.wpp_row_view  ul.wpp_overview_data .wpp_overview_list { padding-left: 34px; }
 
	.wpp_row_view ul.wpp_overview_data .property_address {
		background: url("images/phone_address.gif") no-repeat scroll left -36px transparent;
		color: #b0b0b0;
		font-size: 15px;
		padding-left: 34px;
		line-height: 1.2em; }
 
	.wpp_row_view  ul.wpp_overview_data .property_address a {
		color: #b0b0b0;
		display: block;
		padding-top: 6px;
		text-decoration: none; }
 
	.wpp_row_view ul.wpp_overview_data .property_address a:hover {
		color: orange;
		text-decoration: underline; }
 
	.wpp_row_view ul.wpp_overview_data .property_tagline {
		color: #CCC;
		font-size: 1em;
		line-height: 1.2em;
		padding-bottom: 15px;
		margin-bottom: 7px;
		border-bottom: 1px solid #EFEFEF; }
 
	.wpp_row_view .wpd_floorplans_title {
		font-size: 0.9em;
		font-weight: bold;
		padding-bottom: 5px; }
 
	.wpp_row_view .stats { display: none; }
 
	.wpp_row_view .child_properties table {
		magin-top: 15px;
		margin: 0;
		padding: 0;
		width: 100%; }
 
		.wpp_row_view .child_properties table * {
			margin: 0;
			padding: 0; }
 
		.wpp_row_view .child_properties table td, .wpp_row_view .child_properties table th { border-top: 1px solid #E7E7E7; }
 
/* --- Supermap ---*/
.super_map_list_property {
	padding-top: 10px;
	width: 35; }
 
.property_in_list {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: none repeat scroll 0 0 #868686;
	border: 1px solid #E8E8E8;
	margin-bottom: 6px;
	width: 96%; }
 
.map_filters {
	display: none;
	background: #DAE0FF;
	margin-bottom: 0px;
	line-height: 12px; }
 
.hide_filter {
	background: #DAE0FF;
	border: 2px ridge grey;
	text-align: center; }
 
.super_map_list input { margin: 5px 5px 5px 0; }
 
.super_map, .super_map_list { height: 550px; }
 
.super_map {
	float: right;
	width: 65%; }
 
#content .super_map img { max-width: none; }
 
input.wpp_supermap_input_field_min, input.wpp_supermap_input_field_max { width: 40px; }
 
.super_map_list select { margin-bottom: 0; }
 
.super_map_list {
	float: left;
	overflow-y: scroll;
	overflow-h: hidden;
	width: 35%;
	position: relative; }
 
.map_filters #search_loader {
	display: none;
	float: right;
	margin-top: 8px;
	right: 0;
	top: 0;
	padding-left: 18px;
	width: 42px;
	height: 13px;
	font-size: 10px;
	color: #888888;
	background: url(images/ajax-loader.gif) center left no-repeat; }
 
.super_map_list ul.property_in_list_items {
	list-style-type: none;
	margin: 5px;
	padding: 0;
	font-size: 0.9em;
	position: relative;
	padding-left: 90px; }
 
	.super_map_list ul.property_in_list_items li {
		display: block;
		margin-right: 6px; }
 
		.super_map_list ul.property_in_list_items li.supermap_list_title span {
			color: #004893;
			font-size: 1.2em;
			cursor: pointer;
			text-decoration: none; }
 
		.super_map_list ul.property_in_list_items li.supermap_list_thumb {
			position: absolute;
			top: 5px;
			left: 5px;
			padding-left: 0;
			margin-right: 10px; }
 
  
#no_properties { background: #FF737A; }
 
/* --- Pagination ---*/
.clear {
	clear: both;
	margin: -1px 0 0 0;
	padding: 0;
	height: 1px;
	font-size: 1px;
	line-height: 1px; }
 
.properties-handling { position: relative; }
 
	.properties-handling .ajax_loader {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		padding-left: 18px;
		width: 42px;
		height: 24px;
		font-size: 10px;
		color: #888888;
		background: url(images/ajax-loader.gif) center left no-repeat; }
 
.properties_pagination, .properties_sorter { padding-right: 62px !important; }
 
.properties_pagination a.nav, .properties_pagination ul li { float: left; }
 
.properties_pagination a.nav { width: 60px; }
.properties_pagination a.page_button { 	width: 20px; }
 
.properties_pagination a.nav,
.properties_pagination a.page_button { 
 	display: block;
	padding: 2px 0;
	border: 1px solid #CCCCCC;
	text-decoration: none;
	margin-right: 6px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
 
	.properties_pagination a:hover {
		color: #0066CC;
		-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) inset;
		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) inset; }
 
		.properties_pagination a:hover.disabled, .properties_pagination a:hover.selected {
			-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
 
.properties_pagination ul, .properties_sorter {
	display: block;
	margin: 10px 0 0 0;
	padding: 0; }
 
.properties_pagination ul { margin: 0 !important; }
 
	.properties_pagination ul li { list-style: none; }
 
.properties_pagination a.page_button.selected {
	cursor: default;
	background-color: #e4e4e4; }
 
.properties_pagination a.nav.disabled {
	background-color: #e4e4e4;
	cursor: default; }
 
.properties_sorter select {
	margin: 0;
	border: 1px solid #CCCCCC;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
 
.properties_sorter label, .sort_by, .sort_order {
	display: block;
	float: left;
	height: 23px;
	margin-right: 6px !important; }
 
.properties_sorter label { line-height: 23px; }
 
.sort_order {
	display: block;
	width: 22px;
	height: 23px;
	cursor: pointer; }
 
	.sort_order.ASC { background: url(images/sort.png) -0 0 no-repeat; }
 
	.sort_order.DESC { background: url(images/sort.png) -22px 0 no-repeat; }
 
 
.nivoSlider { position: relative; }
 
	.nivoSlider img {
		position: absolute;
		top: 0px;
		left: 0px; }
 
 .nivoSlider a.nivo-imageLink {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		border: 0;
		padding: 0;
		margin: 0;
		z-index: 60;
		display: none; }
 
 .nivo-slice {
	display: block;
	position: absolute;
	z-index: 50;
	height: 100%; }
 
 .nivo-caption {
	position: absolute;
	font-size: 2em;
	padding: 4px;
	left: 0px;
	top: 0px;
	height: 58px;
	bottom: 0px;
	background: #000;
	color: #fff;
	opacity: 0.99;
	width: 100%; 
	z-index: 89; }
 
	.nivo-caption p {
		padding: 5px;
		margin: 0; }
 
	.nivo-caption a { display: inline !important; }
 
.nivo-html-caption { display: none; }
 
 .nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 99;
	cursor: pointer;
	background: url("images/arrows.png") no-repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	height: 30px;
	text-indent: -9999px;
	width: 30px; }
 
.nivo-prevNav { left: 15px; }
 
.nivo-directionNav a.nivo-nextNav {
	background: url("images/arrows.png") no-repeat scroll -30px 0 transparent;
	right: 15px; }
 
.nivo-controlNav {  }
 
	.nivo-controlNav a {
		background: url("images/bullets.png") no-repeat scroll 0 0 transparent;
		border: 0 none;
		display: block;
		float: left;
		height: 10px;
		margin-right: 3px;
		text-indent: -9999px;
		position: relative;
		z-index: 99;
		cursor: pointer;
		padding: 4px;
		text-align: center; }
 
		.nivo-controlNav a.active { background-position: -10px 0; }
 

 
 /* Global Slideshow Begin */
 .wpp_slideshow_global_wrapper {
 position:absolute;
 overflow:hidden;
 top:0;
 left:0;
 }
 /* Global Slideshow End*/
 

 /* TwentyTen Specific */
 #primary .wpp_search_properties_widget ul.wpp_search_elements {
	margin:0;
 }
 
 /* TwentyTen Specific */
 
 
